<div class="container-carousel">
  <img src="assets/cartelera.png" alt="cartelera" class="cart-img" />
</div>
<div class="img-container">
  <div class="carousel-cont">
    <ngb-carousel
      #carousel
      [interval]="3000"
      [pauseOnHover]="pauseOnHover"
      [pauseOnFocus]="pauseOnFocus"
      (slide)="onSlide($event)"
    >
      <ng-template ngbSlide *ngFor="let movie of movies; index as i">
        <div class="movie-title-container">
          <div class="carousel-caption">
            <h2 class="">{{ movies[i].original_title }}</h2>
          </div>
        </div>
        <div
          class="img-container mx-auto d-block"
          (click)="openMovieDetails(i)"
        >
          <img
            [src]="movie.poster_path"
            alt="{{ this.movies[i].overview }}"
            class="movie-img rounded mx-auto d-block"
          />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <br />
  <div class="form-check container-check">
    <button
      type="button"
      (click)="togglePaused()"
      class="btn btn-outline-dark btn-sm"
    >
      {{ paused ? "Girar" : "Pausar" }}
    </button>
  </div>
  <div>
    <app-movies-list></app-movies-list>
  </div>
</div>
