.container-carousel {
    position: relative;
    width: 100%;
    height: 6em;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
}
.overlay {
    background: rgba(50, 70, 80, 0.7);
    overflow: hidden;
    height: 100%;
}
.cart-img {
    height: 80%;
    padding-top: 2em;
    padding-right: 10px;
    @media (max-width: 600px) {
        height: 75%;
        justify-content: center;
        align-items: center;
        padding-top: 2.2em;
        padding-right: 1em;
    }
}

.img-container {
    width: 95wv;
    height: 430px;
    align-items: center;
    background: linear-gradient(
        220deg,
        rgba(0, 118, 132, 1) 35%,
        rgba(0, 142, 137, 1) 54%,
        rgba(0, 164, 128, 1) 79%,
        rgba(0, 185, 107, 1) 100%
    );

    @supports (mix-blend-mode: overlay) {
        .img-container {
            mix-blend-mode: overlay;
        }
    }

    @media (max-width: 600px) {
        .img-container {
            mix-blend-mode: normal;
        }
    }

    @media (min-width: 1600px) {
        height: 750px;
    }
}

.movie-img {
    width: 98vw;
    position: relative;
    opacity: 0.6;
    top: -140px;
    cursor: pointer;

    @media (max-width: 768px) {
        width: 100%;
        top: 0px;
        opacity: 1;
    }

    @media (min-width: 1600px) {
        top: -80px;
    }
}

.movie-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: (#ffff, 0, 3);
}

.movie-title-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-check {
    align-items: center;
    padding: 1em 2.5em;
    background-color: var(--background-color);
    display: flex;
}

.carousel-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
