<div class="header">
  <div class="content">
    <div class="sub_media">
      <div class="nav_wrapper">
        <a href="/" class="logo">
          <img src="assets/logo.png" alt="The MoviePer" class="img" />
          <img src="assets/logo2.png" alt="The MoviePer" class="img2" />
        </a>
      </div>
      <form
        class="search_form"
        id="inner_search_form"
        action="/search"
        method="get"
        accept-charset="utf-8"
      >
        <label class="search">
          <input
            dir="auto"
            id="inner_search_v4"
            name="query"
            type="text"
            tabindex="1"
            autocorrect="off"
            autofill="off"
            autocomplete="off"
            spellcheck="false"
            placeholder="Buscar una película..."
            value=""
          />
        </label>
        <input type="submit" value="Buscar" class="submit" />
      </form>
    </div>
  </div>
</div>
